@import "../shared/MaterialLayer";


.NavigationBar {

    h1 {
        margin: 0;
    }

    @extend .material-layer;

    background-color: #EFEFEF;
    width: 100%;
    margin: 0px;

    position: relative;
    top: 0;
}