@import "../shared/MaterialLayer";


.NavigationBar {

    h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: inline;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;

        li {
            float: left;

            a[href] {
                display: block;
                padding: 14px 16px;
                text-decoration: none;
            }

            border-left: 1px solid #999;
            border-right: 0;
            &:last-child {
                border-right: 1px solid #999
            }

            &:hover {
                background: white;
            }
        }
    }

    @extend .material-layer;

    background-color: #EFEFEF;
    width: 100%;
    margin: 0px;

    position: relative;
    top: 0;
}